* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "돋움";
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #000000;
}
li {
  list-style-type: none;
}

header {
  position: relative;
  height: 70px;
}

header .logo {
  position: absolute;
  top: 23px;
  left: 20px;
  font-size: 1.3rem;
}

header .logo span {
  color: #1f5abb;
  font-weight: bold;
}

header .menu {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
}

header .menu_btn {
  width: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
}

header .menu_btn li {
  border-bottom: 2px solid #000000;
  padding: 3px 0;
}

.main_image img {
  max-width: 100%;
}

.banner {
  padding: 15px;
  float: left;
}

.banner li {
  float: left;
  padding: 10px;
}
.banner img {
  max-width: 100%;
}
.banner p {
  margin-top: 10px;
  line-height: 150%;
}

.banners::after {
  content: "";
  clear: both;
  display: block;
}

.items {
  padding: 15px;
  padding-bottom: 40px;
  background-color: #f9f9f9;
}

.items img {
  max-width: 100%;
  display: block;
}

.items ul {
  background-color: white;
  margin-bottom: 20px;
}

.items li:nth-child(2) {
  padding: 15px 10px;
}
.items li:last-child {
  padding: 0px 10px 10px 10px;
}

.item {
  float: left;
}

.items::after {
  content: "";
  clear: both;
  display: block;
}

footer {
  color: #ffffff;
  background-color: #292c32;
  padding-bottom: 80px;
}
footer .box div {
  padding: 60px 0 0 20px;
}
footer .box div:first-child h1 {
  margin-top: 20px;
}
footer .box div:nth-child(2) li {
  display: inline-block;
  margin-right: 5px;
}
footer .box div:nth-child(2) p {
  margin-top: 20px;
  line-height: 150%;
}
footer .box div:last-child {
  text-align: right;
  padding-right: 20px;
}

.fitem {
  float: left;
}

footer .box::after {
  content: "";
  clear: both;
  display: block;
}

.share li {
  display: inline-block;
}

/* [class*="col_"] {
  float: left;
} */
@media only screen and (min-width: 768px) {
  .col_m_2 {
    width: 16.66%;
  }
  .col_m_4 {
    width: 33.33%;
  }
  .col_m_6 {
    width: 50%;
  }
  .box {
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
  }
  .banners {
    margin: 50px 0;
  }
  .items {
    padding-top: 60px;
  }
  .item {
    padding-right: 15px;
  }
}

@media only screen and (min-width: 1200px) {
  header .menu_btn {
    display: none;
  }
  header .menu {
    display: block;
  }
  header .menu li {
    display: inline-block;
    margin: 5px 0 0 50px;
  }
  .box {
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
  }
  .col_2 {
    width: 16.66%;
  }
  .col_4 {
    width: 33.33%;
  }
  .col_3 {
    width: 25%;
  }
  .col_6 {
    width: 50%;
  }
  .banner {
    padding-right: 30px;
  }
  .items {
    padding-top: 60px;
  }
  .item {
    padding-right: 15px;
  }
}
